@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Gehoma, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

:root{
    font-family: 'Sriracha', cursive;
}

body{
    background-color: gray;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 2em;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
header > p{
    padding-bottom: 50px;
    font-variant: small-caps;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.5em;

}

section.normal{
    padding-left: 80px;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.219);
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}

section.imagem{
    padding-left: 150px;
    box-shadow: inset 6px 6px 8px black;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#img03{
    background-image: url(imagens/background003.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p{
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.049);
}

section > p{

    padding-bottom: 2em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.286);

}



footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}